@keyframes pulse-zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.pulse-zoom {
  animation: pulse-zoom 2s ease-in-out infinite;
  transition: transform 0.3s ease-in-out;
}

.pulse-zoom:hover {
  animation-play-state: paused;
}



/* Slow jumping whatsapp icon animation */
@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px); /* subtle jump */
  }
}

.jump-animate {
  animation: jump 1.5s ease-in-out infinite;
  animation-play-state: paused;
}

.group:hover .jump-animate {
  animation-play-state: running;
}


